# Service for the basic app.
# Selects pods with app=faps and exposes port 80.
apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  selector:
    app: faps
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  
